.patient-medicine-registration-main {
  padding: 60px 200px;
  border-bottom: 3px;
}

.patient-medicine-registration-title{
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid black;
}

.patient-medicine-registration-form {
  padding: 10px;
}