* {
  box-sizing: border-box;
}
.top-page-header {
  width: 100vw;
  height: 80px;
  background-color: gray;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
}

.app-title {
  width: 40vw;
  font-size: 30px;
  text-align: center;
  margin: auto 0;
}
.app-title-link {
  text-decoration: none;
  color: black;
}
.header-nav {
  width: 30vw;
  display: flex;
}
li {
  padding: 20px;
  text-align: center;
  margin: auto 0;
}
.user-nickname {
  text-decoration: none;
  color: black;
}
.logout {
  text-decoration: none;
  color: black;
}
.login {
  text-decoration: none;
  color: black;
}
.sign-up {
  text-decoration: none;
  color: black;
}
